<html lang="en">
  <head>
      
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
   
  </head>
  
  <body>
    {% extends "adminBase.html" %}

{% block content4%}
    
    <div class="h-100 bg-dark ">
      <div class="container py-5 h-100 m-auto ">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col">
            <div class="card card-registration my-4">
              <div class="row g-0">
                <div class="col-xl-6 d-none d-xl-block ">
                  <img
                    src="static/images/hospro.jpeg"
                    alt="Sample photo"
                    class="img-fluid"
                    style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;"
                  />
                </div>
                <div class="col-xl-6">
                  <div class="card-body p-md-5 text-black">
                    <h3 class="mb-5 text-uppercase"> Doctor Registration</h3>

<div class="myflash">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                     {% for message in messages %}
   
                       <p style="text-align:center"><span style="color:red">{{ message }}</span></p>
       
                         <span aria-hidden="true">×</span>
     
                            </div>
                             {% endfor %}
                             {% endif %}
                            {% endwith %}
                          </div>

                    <div class="row">
                      
                        <div class="form-outline mb-4">
                          <form action="" method="POST">



                          <input type="text" id="form3Example8" class="form-control form-control-lg" placeholder="Enter your full name" name="pname"/>
                          <label class="form-label" for="form3Example1m"> Name</label>
                        </div>
                      </div>


                      <div class="form-outline mb-4">
                        <input type="text" id="form3E" class="form-control form-control-lg" name="spea"/>
                        <label class="form-label" for="form3E">Speacialization</label>
                      </div>

                      <div class="form-outline mb-4">
                        <input type="text" id="form3Exam" class="form-control form-control-lg" name="degree"/>
                        <label class="form-label" for="form3Exam">Degree</label>
                      </div>
                     
                      <div class="form-outline mb-4">
                        <input type="email" id="form3j" class="form-control form-control-lg" name="email"/>
                        <label class="form-label" for="form3j">Email ID</label>
                      </div>
    
                    
    
                    <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
    
                      <h6 class="mb-0 me-4">Gender: </h6>
    
                      <div class="form-check form-check-inline mb-0 me-4">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="gen"
                          id="femaleGender"
                          value="Female"
                        />
                        <label class="form-check-label" for="femaleGender">Female</label>
                      </div>
    
                      <div class="form-check form-check-inline mb-0 me-4">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="gen"
                          id="maleGender"
                          value="Male"

                        />
                        <label class="form-check-label" for="maleGender">Male</label>
                      </div>
    
                      <div class="form-check form-check-inline mb-0">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="gen"
                          id="otherGender"
                          value="Other"
                        />
                        <label class="form-check-label" for="otherGender">Other</label>
                      </div>
    
                    </div>

                    <div class="form-outline mb-4">
                      <input type="date" id="form3Example9" class="form-control form-control-lg" name="pardob" />
                      <label class="form-label" for="form3Example9">DOB</label>
                    </div>


                    <div class="form-outline mb-4">
                      <input type="password" id="formee" class="form-control form-control-lg" name="passw" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"/>
                      <label class="form-label" for="formee">Password</label>
                    </div>


                    <div class="form-outline mb-4">
                      <input type="password" id="fo" class="form-control form-control-lg" name="rePassword" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" />
                      <label class="form-label" for="fo">Re-Password</label>
                    </div>


                    <div class="form-outline mb-4">
                      <input type="tel" id="form3Exampl" class="form-control form-control-lg" name="pnum" />
                      <label class="form-label" for="form3Exampl">Contact</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="text" id="fors" class="form-control form-control-lg" name="Paddress" />
                      <label class="form-label" for="fors">Address</label>
                    </div>
    
                    
                      <div class="from-outline mb-4">
    
                        Country:<select id="coselect" name="country">
                          

                        </select>
                      </div>
                  
    
                  
                    
                      <div class="form-outline mb-4">
                        <input type="text" id="foru" class="form-control form-control-lg" name="parCity" />
                        <label class="form-label" for="foru">City</label>
                      </div>
    
                   
                      
                      <input type="submit" class="btn btn-warning btn-lg ms-2" value="register">
                    
                  </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
            
    </div>
   
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  
  <script> 
  var countryList = ["Afghanistan","Albania","Algeria","American Samoa",	"Andorra",
	"Angola","Anguilla","Antarctica",	"Antigua and Barbuda",
	"Argentina",
	"Armenia",
	"Aruba",
	"Australia",
	"Austria",
	"Azerbaijan",
	"Bahamas (the)",
	"Bahrain",
	"Bangladesh",
	"Barbados",
	"Belarus",
	"Belgium",
	"Belize",
	"Benin",
	"Bermuda",
	"Bhutan",
	"Bolivia (Plurinational State of)",
	"Bonaire, Sint Eustatius and Saba",
	"Bosnia and Herzegovina",
	"Botswana",
	"Bouvet Island",
	"Brazil",
	"British Indian Ocean Territory (the)",
	"Brunei Darussalam",
	"Bulgaria",
	"Burkina Faso",
	"Burundi",
	"Cabo Verde",
	"Cambodia",
	"Cameroon",
	"Canada",
	"Cayman Islands (the)",
	"Central African Republic (the)",
	"Chad",
	"Chile",
	"China",
	"Christmas Island",
	"Cocos (Keeling) Islands (the)",
	"Colombia",
	"Comoros (the)",
	"Congo (the Democratic Republic of the)",
	"Congo (the)",
	"Cook Islands (the)",
	"Costa Rica",
	"Croatia",
	"Cuba",
	"Curaçao",
	"Cyprus",
	"Czechia",
	"Côte d'Ivoire",
	"Denmark",
	"Djibouti",
	"Dominica",
	"Dominican Republic (the)",
	"Ecuador",
	"Egypt",
	"El Salvador",
	"Equatorial Guinea",
	"Eritrea",
	"Estonia",
	"Eswatini",
	"Ethiopia",
	"Falkland Islands (the) [Malvinas]",
	"Faroe Islands (the)",
	"Fiji",
	"Finland",
	"France",
	"French Guiana",
	"French Polynesia",
	"French Southern Territories (the)",
	"Gabon",
	"Gambia (the)",
	"Georgia",
	"Germany",
	"Ghana",
	"Gibraltar",
	"Greece",
	"Greenland",
	"Grenada",
	"Guadeloupe",
	"Guam",
	"Guatemala",
	"Guernsey",
	"Guinea",
	"Guinea-Bissau",
	"Guyana",
	"Haiti",
	"Heard Island and McDonald Islands",
	"Holy See (the)",
	"Honduras",
	"Hong Kong",
	"Hungary",
	"Iceland",
	"India",
	"Indonesia",
	"Iran (Islamic Republic of)",
	"Iraq",
	"Ireland",
	"Isle of Man",
	"Israel",
	"Italy",
	"Jamaica",
	"Japan",
	"Jersey",
	"Jordan",
	"Kazakhstan",
	"Kenya",
	"Kiribati",
	"Korea (the Democratic People's Republic of)",
	"Korea (the Republic of)",
	"Kuwait",
	"Kyrgyzstan",
	"Lao People's Democratic Republic (the)",
	"Latvia",
	"Lebanon",
	"Lesotho",
	"Liberia",
	"Libya",
	"Liechtenstein",
	"Lithuania",
	"Luxembourg",
	"Macao",
	"Madagascar",
	"Malawi",
	"Malaysia",
	"Maldives",
	"Mali",
	"Malta",
	"Marshall Islands (the)",
	"Martinique",
	"Mauritania",
	"Mauritius",
	"Mayotte",
	"Mexico",
	"Micronesia (Federated States of)",
	"Moldova (the Republic of)",
	"Monaco",
	"Mongolia",
	"Montenegro",
	"Montserrat",
	"Morocco",
	"Mozambique",
	"Myanmar",
	"Namibia",
	"Nauru",
	"Nepal",
	"Netherlands (the)",
	"New Caledonia",
	"New Zealand",
	"Nicaragua",
	"Niger (the)",
	"Nigeria",
	"Niue",
	"Norfolk Island",
	"Northern Mariana Islands (the)",
	"Norway",
	"Oman",
	"Pakistan",
	"Palau",
	"Palestine, State of",
	"Panama",
	"Papua New Guinea",
	"Paraguay",
	"Peru",
	"Philippines (the)",
	"Pitcairn",
	"Poland",
	"Portugal",
	"Puerto Rico",
	"Qatar",
	"Republic of North Macedonia",
	"Romania",
	"Russian Federation (the)",
	"Rwanda",
	"Réunion",
	"Saint Barthélemy",
	"Saint Helena, Ascension and Tristan da Cunha",
	"Saint Kitts and Nevis",
	"Saint Lucia",
	"Saint Martin (French part)",
	"Saint Pierre and Miquelon",
	"Saint Vincent and the Grenadines",
	"Samoa",
	"San Marino",
	"Sao Tome and Principe",
	"Saudi Arabia",
	"Senegal",
	"Serbia",
	"Seychelles",
	"Sierra Leone",
	"Singapore",
	"Sint Maarten (Dutch part)",
	"Slovakia",
	"Slovenia",
	"Solomon Islands",
	"Somalia",
	"South Africa",
	"South Georgia and the South Sandwich Islands",
	"South Sudan",
	"Spain",
	"Sri Lanka",
	"Sudan (the)",
	"Suriname",
	"Svalbard and Jan Mayen",
	"Sweden",
	"Switzerland",
	"Syrian Arab Republic",
	"Taiwan",
	"Tajikistan",
	"Tanzania, United Republic of",
	"Thailand",
	"Timor-Leste",
	"Togo",
	"Tokelau",
	"Tonga",
	"Trinidad and Tobago",
	"Tunisia",
	"Turkey",
	"Turkmenistan",
	"Turks and Caicos Islands (the)",
	"Tuvalu",
	"Uganda",
	"Ukraine",
	"United Arab Emirates (the)",
	"United Kingdom of Great Britain and Northern Ireland (the)",
	"United States Minor Outlying Islands (the)",
	"United States of America (the)",
	"Uruguay",
	"Uzbekistan",
	"Vanuatu",
	"Venezuela (Bolivarian Republic of)",
	"Viet Nam",
	"Virgin Islands (British)",
	"Virgin Islands (U.S.)",
	"Wallis and Futuna",
	"Western Sahara",
	"Yemen",
	"Zambia",
	"Zimbabwe",
	"Åland Islands"
];

var count=document.getElementById("coselect");


  var option = document.createElement("option");
  


for (let i=0;i<countryList.length;i++){
  var option = document.createElement("option");
  option.text = countryList[i];
  count.add(option);

}

</script>

{% endblock %}

  </body>
</html>